{include file="./static/public_template/dxheader.html"/}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->

	<!-- Main content -->
	<section class="content">

		<div class="row">
			<div class="col-lg-10">
				<p class="wrapper-title"><i class="fa fa-file-text-o"></i>问卷</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<div class="table" >
							<div class="table-responsive">
								<div class="form-group col-sm-3">
									<div class=" col-sm-offset-3  recharge-btn">
										<a class="btn btn-primary" href="/index/question/add" >增加问卷</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<div class="table" >
							<div class="table-responsive">

								<div >
									<table class="table table-bordered table-hover" style="float:left" >						
										<tr>
											<th>编号</th>
											<th>名称</th>
											<th>开始时间</th>
											<th>结束时间</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
										{if condition="!empty($list)" }
										{foreach name="list" item="k"}
										<tr>
											<td>{$k.question_table_id}</td>
											<td>{$k.name}</td>
											<td>{$k.create_time}</td>
											<td>{$k.end_time}</td>
											<td>{$k.status}</td>

											<td>
												<a href="">修改</a>
												<a href="">上线</a>
												<a href="">查看</a>
												<a href="">统计</a>
												<a target="_blank" href="/index/question/export/id/{$k.question_table_id}">Excel</a>
												<a target="_blank" href="/index/question/table/id/{$k.question_table_id}">外链</a>
											</td>

										</tr>
										{/foreach}


										{/if}

									</table>
								</div>

							</div>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<div class="box-footer">
			<ul class="pagination pagination-sm no-margin pull-right">
			</ul>
		</div> 
	</section>
	<!-- /.content -->
</div>
{include file="./static/public_template/footer.html"/}
<!-- /.content-wrapper -->
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

<script src="/public/static/Template/plugins/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	function read(id){
		$.ajax({
			url:"/index/Comment/auditing",
			data:{'id':id},
			dataType:'json',
			type:'POST',
			success:function(rs){
				$("#comment_"+id).html("已读");

			}
		})
	}

//Date picker


$('.submit').click(function(){
	$(this).parents('form').attr('action', $(this).attr('action'));
	$(this).parents('form').submit();
})

$('#start_time').datepicker({
	autoclose: true,
	format: "yyyy-mm-dd",
});

$('#end_time').datepicker({
	autoclose: true,
	format: "yyyy-mm-dd",
});

</script>
