
<include file="Public/public_template/dxheader.html"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

			
	<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><b>申请详情</b></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
					<th>姓名</th>
					<th>日期</th>
					<th>操作</th>
				</tr>
                </thead>
                <tbody>
				<foreach name='lists' item='date' key='k'>
				<tr>
					<td>{$date.u_name}</td>
					<td>{$date.l_date}</td>
					<td>
						<if condition=" $date.l_type eq  0">

							<if condition=" $date.l_status eq  1 ">
								
							<else/>
								<a href="{:U('Index/responded', array('id'=>$date['l_id'],'status'=>'1'))}"><input type="button" value="通过"  class='btn btn-primary' style="background-color:green"></a>
								<a href="{:U('Index/responded', array('id'=>$date['l_id'],'status'=>'2'))}"><input type="button" value="驳回"  class='btn btn-primary' style="background-color:#fc7896"></a>
							</if>
						<elseif condition=" $date.l_type eq  1"/> 
						<span style='color:green'><b>通过</b></span>
						<else/>
						<span style='color:red'><b>未通过</b></span>
						</if>
					</td>
					
				</tr>		
				</foreach>
		
                </tbody>
				
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
	 <div class="box-footer">
		<ul class="pagination pagination-sm no-margin pull-right">
			{$page}
		</ul>
	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

<script type="text/javascript">
	//Date picker
	$('#start_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});
	$('#end_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});


	$('.submit').click(function(){
		$(this).parents('form').attr('action', $(this).attr('action'));
		$(this).parents('form').submit();
	})

	function logout(){
		var rs = confirm("您确定退出吗?");
		if(rs)
			window.location.href='/Index/logout';
	}
</script>