<include file="Public/public_template/header.html"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
			<div >
				<form method="post" action="">
					<h4>申请倒休</h4>
					<div class="col-sm-2">
					时间：<input type="text" class="form-control" id="start_time" name="time"  placeholder="时间" ><br>
					</div>
					
					<div class="col-sm-1" style="margin-top:20px">
							<button class="submit btn btn-info pull-right" type="button" action="{:U('Index/doApply')}">申请</button>
					</div>
				</form>
			</div>
			<div style="clear:both">
				<p>提示：12点之前可以申请明天及以后的日期，12点以后只能申请后天及以后的日期</p>
			</div>
			
			<div class="box-footer" style="margin-top:10px";>
				<a href="{:U('Index/userLists')}"  class="btn btn-default">返回</a>
			</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

<script type="text/javascript">
			
	//Date picker
	$('#start_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});
	$('#end_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});


	$('.submit').click(function(){
		$(this).parents('form').attr('action', $(this).attr('action'));
		$(this).parents('form').submit();
	})

	function logout(){
		var rs = confirm("您确定退出吗?");
		if(rs)
			window.location.href='/Index/logout';
	}
</script>