<include file="Public/public_template/dxheader.html"/>
<style type="text/css">
	.table2 {display:none}
	@media only screen and (max-width: 640px) {
		.table1{
			display: none;
		}
		.table2{			
			display: block;
		}
		#excel{
			margin-top:-1px;
		}
	}
		
	

</style>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
		
	<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
            </div>
				<form method="get" action="">
				<div class="col-sm-2">
					<input type="text" class="form-control" name="dx_name"  placeholder="姓名">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="start_time" name="start_time"  placeholder="开始时间" >
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="end_time" name="end_time"  placeholder="结束时间">
				</div>

				<div class="col-sm-2">
					<button class="submit btn btn-info pull-right" type="button" action="{:U('Index/search')}">搜索</button>
				</div>
				<div class="col-sm-2">
					<button class="submit btn btn-info pull-right" id='excel' type="button" action="{:U('Index/lists', array('do'=>'export'))}">导出Excel</button>
				</div>
				</form>

				<div class="box-body" style='margin-top:40px'>
					<div class="table1" >


						<table  class="table table-bordered table-hover">
							<thead>

								<tr>
									<th>日期</th>
									<foreach name='week' item='day' key='k'>
									<if condition=" $day eq  $num">
									<th style="background-color:#3c8dbc"><span style="color:#fff">{$day}</span></th>
									<else /> 
									<th>{$day}</th>
									</if>
									</foreach>
									<th></th>
								</tr>
								<tr>
									<th>姓名</th>
									<th>卡号</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>           
								<foreach name='datas' item='data'>
								<tr>

									<td style="line-height:30px;">{$data.username}</td>
									<td>{$data.card_number} </td>
									<td><a href="{:U('Record/add', array('card_id'=>$data['card_id']))}" ><input type="button" value="记录"  class='btn btn-primary'></a></td>
								</tr>
								</foreach>
							</tbody>
						</table>
					</div>


					<div class="table2" >
						<div class="table-responsive">

							<div >
								<table class="table table-bordered table-hover" style="float:left" >						
									<tr>
										<th>姓名</th>
										<th>一</th>
										<th>二</th>
										<th>三</th>
										<th>四</th>
										<th>五</th>
										<th>六</th>

									</tr>
									<foreach name='users' item='user'>
									<tr>

										<td style="line-height:30px;"><a href="{:U('Index/detail', array('name'=>$user['u_name']))}" ><b>{$user.u_name}</b></a></td>

										<foreach name="user['arr']" item='val' key='k'>
										<if condition=" $val.status  eq  1">

										<if condition=" $val.l_type eq  1">
										<td  style="background-color:green;line-height:30px;" align='center' ><span style='color:#fff'>休</span></td>
										<elseif condition=" $val.l_type eq  0"/> 
										<td  style="background-color:#767c79;line-height:30px;" align='center' ><span style='color:#fff'>休(待审核)</span></td>
										<else/>
										<td></td>
										</if>
										<else/> 
										<td></td>
										</if>

										</foreach>	
									</tr>
									</foreach>



								</table>
							</div>

						</div>
					</div>
				</div>
				<!-- /.box-body -->
	  </div>
	  <!-- /.box -->
	</div>
	<!-- /.col -->
	</div>
	<!-- /.row -->
	<div class="box-footer">
		<a type="button" class="btn btn-primary" href="{:U('Index/add')}" >添加倒休</a>
		<ul class="pagination pagination-sm no-margin pull-right">
			{$page}
		</ul>
	</div> 
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <include file="Public/public_template/footer.html"/>
  <!-- 制作图表js -->
  <script src="__PUBLIC__/js/Chart.js"></script>

  <script type="text/javascript">

//Date picker
$('#start_time').datepicker({
	autoclose: true,
	format: "yyyy-mm-dd",
});
$('#end_time').datepicker({
	autoclose: true,
	format: "yyyy-mm-dd",
});


$('.submit').click(function(){
	$(this).parents('form').attr('action', $(this).attr('action'));
	$(this).parents('form').submit();
})


  </script>
