<include file="Public/public_template/dxheader.html"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
		<div>
				<form method="post" action="">
					<h4>修改</h4>

					<input type="hidden" name="id" value="{$id}" />

					<div class="col-sm-2">
					姓名：<input type="text" class="form-control" id="" name="username" value="{$name}" placeholder="姓名" ><br>
					</div>
					<div class="col-sm-2">
					工作地点：<select name="address" class="form-control" id="">
								<if condition=" $address eq  北京 ">
									<option value="北京" selected>北京
									<option value="安顺">安顺
								<else /> 
									<option value="北京">北京
									<option value="安顺" selected>安顺
								</if>
								
						  </select>
					</div>
					<div class="col-sm-2">
					密码：<input type="password" class="form-control" id="" name="pwd"  placeholder="密码" ><br>
					</div>
					<div class="col-sm-2">
					确认密码：<input type="password" class="form-control" id="" name="qpwd"  placeholder="确认密码" ><br>
					</div>
					<div class="col-sm-1">
							<button class="submit btn btn-info pull-right" type="button" action="{:U('Index/doUserUpdate')}" style="margin-top:20px">修改</button>
					</div>
				</form>
			</div>
			<p style="clear:both;color:#339900">提示：如不需要修改密码,密码和确认密码可为空</p>
			<div class="box-footer" style="margin-top:10px";>

				<a href="javascript:" onclick="window.history.go(-1)" class="btn btn-default">返回</a>
			</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>
<script type="text/javascript">
	$('.submit').click(function(){
		$(this).parents('form').attr('action', $(this).attr('action'));
		$(this).parents('form').submit();
	})
</script>