<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>marquee</title>
        <style>
            body {
                background: black;
			margin:10px;

            }

            marquee {
                font-weight: bolder;
                font-size: 15px;
                color: white;
			height:800px;
            }
	    span{
		    margin:30px;
	    }
	    .t1{
		    padding-top:20px;
	    }
	    td{padding : 0px 20px}
        </style>
    </head>

    <body>
	    <marquee direction="up" scrollamount="2">
	    {foreach name="list" item="v"}
	    <table class="t1">
		    <tr>
			    <td> 法人码</td>
			    <td> {$v['company_id']}</td>
			    <td></td>
			    <td></td>
		    </tr>
		    <tr>
			    <td> 单位名称</td>
			    <td> {$v['company_name']}</td>
		    </tr>
	    </table>
	    <table>
		    <tr>
			    <td>职位</td>
			    <td>年龄</td>
			    <td>薪水</td>
			    <td>工作地址</td>
		    </tr>
		    {if condition="isset($v['jobs'])"}
		    {foreach name="$v['jobs']" item="iv"}
		    <tr>
			    <td>
				    {$iv.job_name}
			    </td>
			    <td>
				    {$iv.age} 
			    </td>
			    <td>
				    {$iv.money}
			    </td>
			    <td>
				    {$iv.address}
			    </td>
		    </tr>
		    {/foreach}
		    {/if}
	    </table>
	    {/foreach}
	    </marquee>
	<script>
		var time = 1000 * 3600 * 2;
		setTimeout(function(){
			window.location.href = window.location.href;
		},time)
	</script>

    </body>


</html>
