{include file="./static/public_template/dxheader.html"/}
<div class="row wrapper white-bg">
	<div class="col-lg-10">
		<p class="wrapper-title"><i class="fa"></i> 修改权限</p>
	</div>

	<div class="col-lg-2">

	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>修改权限</h5>
				</div>
				<div class="ibox-content">
					<form method="POST" class="form-horizontal" name="form1" action="/index/manager/editPri/pid/{$pid}">
						<div class="form-group" > 
							<div class="col-sm-6 tr_department">
								<input type="hidden" name="pid" value="{$pid}"/>
								<label class="col-sm-3 control-label">方法:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"  name="action" value="{$pidInfo['action']}">
								</div>
							</div>
							<div class="col-sm-6 tr_area">
								<label class="col-sm-3 control-label">描述:</label>
								<div class="col-sm-6">
									<input class="form-control"  name="comment" value="{$pidInfo['comment']}" >
								</div>
							</div>
						</div>
						<div class="form-group col-sm-7">
							<div class=" col-sm-offset-3  recharge-btn">
								<button class="btn btn-primary " type="submit" name="sub" value="1">确定</button>
							</div>
						</div>
						<div class="form-group" > </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{include file="./static/public_template/footer.html"/}
</div>
</div>

<!-- Mainly scripts -->
</body>
</html>


{if condition="isset($error)"}
	<script>
		{foreach name="error" item="k"}
		alert("{$k}");
		{/foreach}
	</script>
{/if}

