{include file="./static/public_template/dxheader.html"/}
<div class="row wrapper white-bg">
	<div class="col-lg-10">
		<p class="wrapper-title">Excel文件匹配</p>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight member_lists  card_lists_table">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">

				<div class="ibox-content">
					<form method="POST" name="form1" action="/index/assets/addItem" class="form-horizontal" enctype="multipart/form-data">
						<div class="col-lg-8">
							<div class="fileinput fileinput-new input-group" data-provides="fileinput">
								<div class="form-control" data-trigger="fileinput">
									<i class="glyphicon glyphicon-file fileinput-exists"></i>
									<span class="fileinput-filename"></span>
								</div>
								<span class="input-group-addon  btn-file">
									<span class="fileinput-new">浏览excel</span>
									<input type="file" name="file" style="opacity:0;">
								</span>
								<a href="javascript:form1.submit()" class="input-group-addon  fileinput-exists confirm">确定</a>
								<a href="#" class="input-group-addon  fileinput-exists" data-dismiss="fileinput">移除</a>
							</div>
						</div>
					</form>
					<!--
					<div class="col-lg-4">
						<span class="" style="line-height:35px">查看范例： </span>
						<span class="text-danger">
							<a class="text-danger" href="/example.xlsx">
								<i class="fa fa-play text-danger fa-rotate-90"></i> example.xlsx
							</a>
						</span>
					</div>
					-->
				</div>
				{if condition="!empty($title)"}
				<form action="/index/record/exportExcel" method="POST">
				<div class="ibox-content">
					<table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
						<thead>
							<tr class="selectBox">
								<?php $i=0;?>
								{foreach name="title" id="vo"}
								<th value="{$i++}">{$vo}</th>
								{/foreach}
							</tr>
							<tr id="subBtn" style="display:none">
								<td colspan="{:count($title)}" style="padding-left:45%">
									<input type="hidden" name="filename"  value="{$filename}"/>
									<input type="hidden" name="columns" id="columns"  value="0"/>
									<input type="submit" name="sub" value="确认提交"/>
								</td>
							</tr>
						</thead>
					</table>
				</div>
				</form>
				{/if}
			</div>
		</div>
	</div>
</div>
{include file="./static/public_template/footer.html"/}
</div>
</div>
</div>

	<!--
<script>
function know(document_id){
	swal({
		title: "确定设为已读吗?",
		// text: "You will not be able to recover this imaginary file!",
		type: "warning",
		showCancelButton: "取消",
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "确认",
		closeOnConfirm:true 
	},function(rs){
		$.ajax({
			"url":"/Record/docKnow",
			"type":"POST",
			"dataType":"json",
			"data":{"document_id":document_id},
			"success":function(){
				$("#s_"+document_id).html("已处理");

			}
		});
	});




}
</script>

-->

	<script>
$(".selectBox th").click(function(){
	$(".selectBox th").css("background-color","rgb(221, 221, 221");
	$(this).css("background-color","red");
	var val = $(this).attr("value");
	$("#columns").val(val);
	$("#subBtn").show();
});
	</script>


<?php if(isset($ok)):?>
<script>
swal({
	title: "导入成功",
	text: "",
	type: "success"
});
</script>
<?php endif;?>

{if condition="!empty($filePath)"}
	<script>
		window.open("/xls/{$filePath}");	
	</script>
{/if}

<script> $(".nav_list_8").addClass("active"); </script>

</body>
</html>
