{include file="./static/public_template/dxheader.html"/}
<style>
.two_row{
	margin-bottom:10px;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->

	<!-- Main content -->
	<section class="content">

		<div class="row">
			<div class="col-lg-9">
				<p class="wrapper-title">审批列表</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<div class="table" >
							<div class="table-responsive">

								<div >
										{if condition="!empty($list)" }
										{foreach name="list" item="k"}
										<table class="table table-bordered table-hover" style="float:left;{:back_color($k.roam_status)}" >
										<tr>
											<th class="asset_a" style="width:15%">编号</th>
											<th class="asset_b" style="width:15%">物品名称</th>
											<th class="asset_c" style="width:15%">价格</th>
											<th class="asset_d" style="width:15%">型号</th>
											<th class="asset_e" style="width:15%">大类</th>
										</tr>
										<tr class="tr_{$k.item_id}_1">
											<td>{$k.item_no}</td>
											<td>{$k.model_name}</td>
											<td>{$k.price}</td>
											<td>{$k.model_no}</td>
											<td>{$k.category}</td>
											</td>



										</tr>
										<tr>
											<th>申请人</th>
											<th>流入部门</th>
											<th>流出部门</th>
											<th>办公室</th>
											<th>操作</th>
										</tr>
										<tr class="tr_{$k.item_id}_2 two_row">
											<td>{$k.users['apply_user']['uname']}:{:span(1,$k.roam_status)}</td>
											<td>{$k.users['apply_approval_user']['uname']}:{:span(2,$k.roam_status)}</td>
											<td>{$k.users['use_approval_user']['uname']}:{:span(3,$k.roam_status)}</td>
											<td>{$k.users['office_approval_user']['uname']}:{:span(4,$k.roam_status)}</td>
											<td>
												{:operation($k.users,$_SESSION['user'],$k.roam_status)}
											</td>
										</tr>
									</table>
										{/foreach}


										{/if}
								</div>

							</div>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<div class="box-footer">
			<ul class="pagination pagination-sm no-margin pull-right">
				{$page}
			</ul>
		</div> 
	</section>
	<!-- /.content -->
</div>
{include file="./static/public_template/footer.html"/}
<!-- /.content-wrapper -->
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

	<script src="/public/static/Template/plugins/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">

	//Date picker


$('.submit').click(function(){
	$(this).parents('form').attr('action', $(this).attr('action'));
	$(this).parents('form').submit();
})



function apply(item_id){
	var rs = confirm("确定申请吗");
	if(rs){

		$.ajax({
			url:"/index/assets/apply",
			data:{'item_id':item_id},
			type:"get",
			dataType:"json",
			success:function(data){
				$("#tr_"+item_id + " .href").attr({"href":"javascript:;"});
				$("#tr_"+item_id + " .href").css("color","red");
				$("#tr_"+item_id + " .href").html("申请中");
			}
		});

	}

}

function allow(){
	alert("allow");
}
function deny(){
	alert("deny");
}


</script>
