{include file="./static/public_template/dxheader.html"/}
<style>
.col-sm-6{
	margin-top:10px;
}

</style>
<div class="row wrapper white-bg">
	<div class="col-lg-10">
		<p class="wrapper-title">工作居住证 <?php if(isset($new_id)):?>
		上次录入序号:<?=$new_id;?>
		<?php endif;?>
		</p>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight member_lists  card_lists_table">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">

				<div class="ibox-content">
					<form action="/index/common/cert" method="POST">
					<div class="form-group" > 
						<div class="col-sm-10">
							<label class="col-sm-3 control-label">公司名</label>
							<div class="col-sm-6">
								<span id="company_name_text" style="color:red"></span>
								<input type="text" class="form-control" name="company_name" id="company_name" required=""  value="">
							</div>
						</div>
						<div class="col-sm-6">
							<label class="col-sm-3 control-label">经办人</label>
							<div class="col-sm-6"><input type="text" class="form-control" name="user_name" id="name" value=""></div>
						</div>
						<div class="col-sm-6 tr_service">
							<label class="col-sm-3 control-label">手机号</label>
							<div class="col-sm-6"><input type="text" class="form-control" id="tel" name="tel" value=""></div>
						</div>
						<div class="col-sm-6 tr_service">
							<label class="col-sm-3 control-label">负责人</label>
							<div class="col-sm-6"><input type="text" class="form-control" id="own_uname" name="own_uname" value=""></div>
						</div>
						<div class="col-sm-6 tr_service">
							<label class="col-sm-3 control-label">负责人电话</label>
							<div class="col-sm-6"><input type="text" class="form-control" id="own_tel" name="own_tel" value=""></div>
						</div>
						<div class="col-sm-6 tr_service">
							<label class="col-sm-3 control-label">企业纳税</label>
							<div class="col-sm-6"><input type="text" class="form-control" id="own_tel" name="taxe" value=""></div>
						</div>
						<div class="col-sm-6 tr_service">
							<label class="col-sm-3 control-label">税务所属时间 </label>
							<div class="col-sm-6"><input type="text" class="form-control" id="taxe_time" name="taxe_time" value=""></div>
						</div>
						<div class="col-sm-6 tr_service">
							<label class="col-sm-3 control-label">新办数量 </label>
							<div class="col-sm-6"><input type="text" class="form-control" id="own_tel" name="new_num" value=""></div>
						</div>
						<div class="col-sm-6 tr_service">
							<label class="col-sm-3 control-label">己受理</label>
							<div class="col-sm-6"><input type="text" class="form-control" id="own_tel" name="has_num" value=""></div>
						</div>
						<div class="col-sm-6 tr_service">
							<input type="hidden" name="sub" value="123">
							<button type="submit" class="btn btn-block btn-success">提交</button>
						</div>
					</div>
					</form>
					<!--
	     <div class="col-lg-4">
	     <span class="" style="line-height:35px">查看范例： </span>
	     <span class="text-danger">
	     <a class="text-danger" href="/example.xlsx">
	     <i class="fa fa-play text-danger fa-rotate-90"></i> example.xlsx
	     </a>
	     </span>
	     </div>
					-->
				</div>
			</div>
		</div>
	</div>
</div>
{include file="./static/public_template/footer.html"/}
<script>
	var no = false;
$("#company_name").focus();
$("#company_name").blur(function(){
	var rs = $("#company_name_text").html()
	if(rs != ""){
		$("#company_name").val($("#company_name_text").html());
	}
});
$("#company_name").bind('input propertychange',function(){
	var company_name = $("#company_name").val();
	if(no){
		return false;
	}
	$.ajax({
		url:"/index/api/rencai/method/checkcompany/company_name/"+company_name,
		type:"POST",
		dataType:"json",
		data:{"company_name":company_name},
		success:function(data){
			if(!data){
				$("#company_name_text").html("");
				$("#name").val("");
				$("#tel").val("");
				$("#own_tel").val("");
				$("#own_uname").val("");
				$("#backup_id").val("");
			}
			else{
				$("#company_name_text").html(data.company_name);
				$("#name").val(data.user_name);
				$("#tel").val(data.tel);
				$("#own_tel").val(data.own_tel);
				$("#own_uname").val(data.own_uname);
				$("#backup_id").val(data.backup_id);
			}
		}
	});

});
$("#company_name_text").click(function(){
	$("#company_name").val($(this).html());
	var company_name = $("#company_name").val();
	no = true;
	$.ajax({
		url:"/index/api/rencai/method/checkcompany/company_name/"+company_name,
		type:"POST",
		dataType:"json",
		data:{"company_name":company_name},
		success:function(data){
			if(!data)
				$("#company_name_text").html();
			else
				$("#company_name_text").html(data.company_name);
			$("#name").val(data.user_name);
			$("#tel").val(data.tel);
			$("#own_tel").val(data.own_tel);
			$("#backup_id").val(data.backup_id);
		}
	});
});
</script>

<!--
	<script>
		function know(document_id){
	swal({
		title: "确定设为已读吗?",
		// text: "You will not be able to recover this imaginary file!",
		type: "warning",
		showCancelButton: "取消",
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "确认",
		closeOnConfirm:true 
	},function(rs){
		$.ajax({
			"url":"/Record/docKnow",
			"type":"POST",
			"dataType":"json",
			"data":{"document_id":document_id},
			"success":function(){
				$("#s_"+document_id).html("已处理");

			}
		});
	});




}
	</script>

	-->

	<script>
$("#taxe_time").bind("input propertychange", function() {
	var num = $(this).val();
	arr = [4,7,15,18];
	for(i in arr){
		if(num.length == arr[i]){
			$(this).val(num+".");
		}
		if(num.length == 10){
			$(this).val(num+"-");
		}
	}

});
		$(".selectBox th").click(function(){
			$(".selectBox th").css("background-color","rgb(221, 221, 221");
			$(this).css("background-color","red");
			var val = $(this).attr("value");
			$("#columns").val(val);
			$("#subBtn").show();
		});
	</script>


	<?php if(isset($ok)):?>
	<script>
		swal({
			title: "导入成功",
			text: "",
			type: "success"
		});
	</script>
	<?php endif;?>
	<script> $(".nav_list_8").addClass("active"); </script>

	</body>
	</html>
