{include file="./static/public_template/dxheader.html"/}
<div class="row wrapper white-bg">
	<div class="col-lg-10">
		<p class="wrapper-title"><i class="fa"></i>修改菜单</p>
	</div>

	<div class="col-lg-2">

	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>修改菜单</h5>
				</div>
				<div class="ibox-content">
					<form method="POST" class="form-horizontal" name="form1" action="/index/category/editCategory">
						<div class="form-group" > 
							<div class="col-sm-6 tr_department">
								<label class="col-sm-3 control-label">菜单名:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"  name="category_name" value="<?=$cat['category_name'];?>">
									<input type="hidden" class="form-control"  name="cid" value="<?=$cat['category_id'];?>"/>
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group" > 
							<div class="col-sm-6 tr_area">
								<label class="col-sm-3 control-label">路径:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"  name="url" value="<?=$cat['url'];?>">
								</div>
							</div>
							<div class="col-sm-6 tr_service">
								<label class="col-sm-3 control-label">图标:(暂不开通)</label>
								<div class="col-sm-6">
									<ul>
										<li>
										<?php if(isset($icons)):?>
										<?php foreach($icons as $k => $v):?>
										<i class="fa {$v}"></i>
										<?php endforeach;?>
										<?php endif;?>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group col-sm-7">
							<div class=" col-sm-offset-3  recharge-btn">
								<button class="btn btn-primary " type="submit" name="sub" value="1">确定</button>
							</div>
						</div>
						<div class="form-group" > </div>
						<div class="form-group" > </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{include file="./static/public_template/footer.html"/}
</div>
</div>

<!-- Mainly scripts -->
<script src="<?=VIP_JS;?>jquery-2.1.1.js"></script>
<script src="<?=VIP_JS;?>bootstrap.min.js"></script>
<script src="<?=VIP_JS;?>plugins/metisMenu/jquery.metisMenu.js"></script>



<!-- Peity -->


<!-- Custom and plugin javascript -->
<script src="<?=VIP_JS;?>plugins/pace/pace.min.js"></script>
<script src="<?=VIP_JS;?>inspinia.js"></script>
<script src="<?=VIP_JS;?>echarts.min.js"></script>

</body>
</html>


<script type="text/javascript">
	{if condition="isset($error)"}
	<script>
		alert("{$error}");
<script>
	{/if}

function  changeSelect(index){
	//选择对象
	var city = document.form1.location;
	//修改省份列表的选择项
	form1.area.selectedIndex = index;

	//指定城市中<option>标记的个数
	city.length = arr_city[index].length;

	//循环将数组中的数据写入<option>标记中
	for (var j = 0; j<arr_city[index].length;j++) {
		city.options[j].text = arr_city[index][j];
		city.options[j].value = arr_city[index][j];
	}
}

</script>


