<include file="Public/public_template/dxheader.html"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
			<div >
				<form method="post" action="">
					<h4>倒休添加</h4>
					<div class="col-sm-2">
					姓名：<select name="username" class="form-control" id="">
									<option value="" >请选择姓名
								<foreach name="users" item="user">
								<option value="{$user.u_name}">{$user.u_name}
								</foreach>
						  </select>
					</div>
					<div class="col-sm-2">
					时间：<input type="text" class="form-control" id="start_time" name="time"  placeholder="时间" ><br>
					</div>
					
					<div class="col-sm-1" style="margin-top:20px">
							<button class="submit btn btn-info pull-right" type="button" action="{:U('Index/doAdd')}">添加</button>
					</div>
				</form>
			</div>
			<div style="clear:both">
				<p>提示：这里显示的人员都是目前在安顺工作的，如果人员不在此列表中，请去<a href="{:U('Index/userDel')}">人员管理</a>修改该人员信息或者<a href="{:U('Index/userAdd')}">添加人员</a></p>
			</div>
			
			<div class="box-footer" style="margin-top:10px";>
				<a href="{:U('Index/lists')}"  class="btn btn-default">返回</a>
			</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

<script type="text/javascript">
			
	//Date picker
	$('#start_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});
	$('#end_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});


	$('.submit').click(function(){
		$(this).parents('form').attr('action', $(this).attr('action'));
		$(this).parents('form').submit();
	})

	function logout(){
		var rs = confirm("您确定退出吗?");
		if(rs)
			window.location.href='/Index/logout';
	}
</script>