
<include file="Public/public_template/dxheader.html"/>
<style type="text/css">
.table2 {display:none}
@media only screen and (max-width: 640px) {
	.table1{
		display: none;
	}
	.table2{			
		display: block;
	}
	#excel{
		margin-top:-1px;
	}
}



</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->

	<!-- Main content -->
	<section class="content">

		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						开卡
					</div>
					<!-- /.box-header -->
					<div class="box-body" style='margin-top:40px'>
						<div class="table1" >
							<form action="/Home/Card/open" method="POST">
							<table  class="table table-bordered table-hover">
								<tbody>           
									<tr id="tr_card">
										<td>卡号</td>
										<td><input name="card"/></td>
									</tr>
									<tr id="tr_username">
										<td>姓名</td>
										<td><input name="username"/></td>
									</tr>
									<tr id="tr_id">
										<td>身份证号</td>
										<td><input name="id"/></td>
									</tr>
									<tr id="tr_telephone">
										<td>电话</td>
										<td><input name="telephone"/></td>
									</tr>
									<tr id="tr_money">
										<td>充值</td>
										<td><input name="money" value="0"/>元</td>
									</tr>
									<tr>
										<td></td><td><input type="submit" value="提交" name="sub"/> </td>
									</tr>
								</tbody>
							</table>
							</form>
						</div>


					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<div class="box-footer">
			<a type="button" class="btn btn-primary" href="{:U('Index/add')}" >添加倒休</a>
			<ul class="pagination pagination-sm no-margin pull-right">
				{$page}
			</ul>
		</div> 
	</section>
	<script>
<?php foreach($error as $k => $v):?>
$("#tr_<?=$k?> td:first").css({"color":"red"});


<?php endforeach;?>
	</script>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

<script type="text/javascript">

//Date picker
$('#start_time').datepicker({
	autoclose: true,
	format: "yyyy-mm-dd",
});
$('#end_time').datepicker({
	autoclose: true,
	format: "yyyy-mm-dd",
});


$('.submit').click(function(){
	$(this).parents('form').attr('action', $(this).attr('action'));
	$(this).parents('form').submit();
})


</script>
