<include file="Public/public_template/dxheader.html"/>
<style type="text/css">

	@media only screen and (max-width: 640px) {
		table th:nth-child(1),
		table td:nth-child(1) {display: none;}
		table th:nth-child(2),
		table td:nth-child(2) {width: 30%;}

		#excel{
			margin-top:-1px;
		}
	}
		
	

</style>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
		
		<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
            </div>
				<form method="get" action="">
				<div class="col-sm-2">
					<input type="text" class="form-control" name="dx_name" value="{$where.u_name}" placeholder="姓名">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="start_time" name="start_time" value="{$where.start_time}" placeholder="开始时间" >
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="end_time" name="end_time" value="{$where.end_time}" placeholder="结束时间">
				</div>

				<div class="col-sm-2">
					<button class="submit btn btn-info pull-right" type="button" action="{:U('Index/search')}">搜索</button>
				</div>
				<div class="col-sm-2">
					<button class="submit btn btn-info pull-right" id='excel' type="button" action="{:U('Index/search', array('do'=>'export'))}">导出Excel</button>
				</div>
				</form>
            <!-- /.box-header -->
            <div class="box-body" style='margin-top:40px'>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
				<tr>
					<th>序号</th>
					<th>姓名</th>
					<th>时间</th>
					<th>操作</th>
				</tr>
                </thead>
                <tbody>           
                <foreach name='lists' item='list'>
				<tr>
					<td>{$list.l_id}</td>
					<td>{$list.u_name}</td>
					<td>{$list.l_date}</td>
					
					<td>
						<a href="{:U('Index/update', array('id'=>$list['l_id']))}" class='btn btn-primary'>修改</a>
						<a href="{:U('Index/del', array('id'=>$list['l_id']))}" onclick="if(!confirm('确认删除吗')){return false}" class='btn btn-primary'>删除</a>
					</td>
				</tr>
				</foreach>	
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
	  <div class="box-footer">
		<a href="{:U('Index/lists')}"  class="btn btn-default">返回</a>
		<ul class="pagination pagination-sm no-margin pull-right">
			{$page}
		</ul>
	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

<script type="text/javascript">
	//删除
	function del(obj,id){
		$.post("{:U('Index/del')}", { id: id},
		   function(data){
				if(data==1){
					location.href("{:U('Index/search')}");
				}
		   });
	}
	//修改
	function update(){
		location.href("{:U('Index/update')}");
	}
	//Date picker
	$('#start_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});
	$('#end_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});
</script>
<script type="text/javascript">

	$('.submit').click(function(){
		$(this).parents('form').attr('action', $(this).attr('action'));
		$(this).parents('form').submit();
	})
</script>