<include file="Public/public_template/header.html"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
		<div>
				<form method="post" action="">
					<h4>修改</h4>
					<div class="col-sm-2">
					密码：<input type="password" class="form-control" id="" name="pwd"  placeholder="密码" ><br>
					</div>
					<div class="col-sm-2">
					确认密码：<input type="password" class="form-control" id="" name="qpwd"  placeholder="确认密码" ><br>
					</div>
					<div class="col-sm-1">
							<button class="submit btn btn-info pull-right" type="button" action="{:U('Index/doUserPwd')}" style="margin-top:20px">修改</button>
					</div>
				</form>
			</div>
			<div class="box-footer" style="margin-top:100px";>
				<a href="javascript:" onclick="window.history.go(-1)" class="btn btn-default">返回</a>
			</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>
<script type="text/javascript">
	$('.submit').click(function(){
		$(this).parents('form').attr('action', $(this).attr('action'));
		$(this).parents('form').submit();
	})
</script>