<include file="Public/public_template/dxheader.html"/>
<style type="text/css">
	@media only screen and (max-width: 640px) {
		table th:nth-child(2),
		table td:nth-child(2) {display: none;}
		table th:nth-child(1),
		table td:nth-child(1) {width:46px}
		table th:nth-child(3),
		table td:nth-child(3) {width:46px}

		.user{
			width:20px;
		}
	}
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
			
			
	<div class="row">
        <div class="col-xs-12">
          <div class="box">
			<div class="box-header">
				 <h3 class="box-title"><b>人员管理</b></h3>
				<a href="{:U('Index/userAdd')}"><button class="submit btn btn-info pull-right" type="button" >添加人员</button></a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>姓名</th>
                  <th>工作地点 </th>
                  <th>天数</th>
                  <th>操作</th>
                </tr>
                </thead>
       
                <foreach name='users' item='user'>
					<tr>
						
						<td class='user'>{$user.u_name}</td>
						<td>{$user.u_address}</td>
						<td class='user'>{$user.days}</td>
						<td>

							<if condition=" $user.u_status eq  1 ">
							<a href="{:U('Index/doUserDel', array('id'=>$user['u_id'],'status'=>$user['u_status']))}" onclick="if(!confirm('确认冻结吗')){return false}" ><input type="button" value="冻结"  class='btn btn-primary'></a>
							<else /> 
							<a href="{:U('Index/doUserDel', array('id'=>$user['u_id'],'status'=>$user['u_status']))}" onclick="if(!confirm('确认解冻吗')){return false}" ><input type="button" value="解冻"  class='btn btn-primary'></a>
							</if>
							<a href="{:U('Index/userUpdate', array('id'=>$user['u_id']))}" ><input type="button" value="修改"   class='btn btn-primary'></a>
							<a href="{:U('Index/detail', array('name'=>$user['u_name']))}" ><input type="button" value="详情"   class='btn btn-primary'></a>
							
						</td>
					</tr>				
				</foreach>	                         
              
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
	<div class="box-footer">
				<a href="{:U('Index/lists')}"  class="btn btn-default" >返回</a>
				<ul class="pagination pagination-sm no-margin pull-right">
					{$page}
				</ul>
			</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

<script type="text/javascript">
	//删除
	function del(obj,id){
		$.post("{:U('Index/del')}", { id: id},
		   function(data){
				if(data==1){
					location.href("{:U('Index/search')}");
				}
		   });
	}
	//修改
	function update(){
		location.href("{:U('Index/update')}");
	}
	//Date picker
	$('#start_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});
	$('#end_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});
</script>
<script type="text/javascript">
	$('.submit').click(function(){
		$(this).parents('form').attr('action', $(this).attr('action'));
		$(this).parents('form').submit();
	})
</script>