<include file="Public/public_template/header.html"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
		
	<div class="row">
        <div class="col-xs-12">
          <div class="box">
            
			
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
				<tr>
					<th>序号</th>
					<th>时间</th>
					<th>状态</th>
				</tr>
                </thead>
                <tbody>           
                <foreach name='lists' item='list'>
				<tr>
					<td>{$list.l_id}</td>
					<td>{$list.l_date}</td>
					<td>
					<if condition=" $list.l_type eq  0">
					<span style='color:#6600ff'><b>未审核</b></span>
					<elseif condition=" $list.l_type eq  1"/> 
					<span style='color:green'><b>通过</b></span>
					<else/>
					<span style='color:red'><b>未通过</b></span>
					</if>
					</td>
				</tr>
				</foreach>	
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
	  <div class="box-footer">
			<a type="button" class="btn btn-primary" href="{:U('Index/apply')}" >申请倒休</a>
			<ul class="pagination pagination-sm no-margin pull-right">
				{$page}
			</ul>
	</div> 
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/public_template/footer.html"/>
<!-- 制作图表js -->
<script src="__PUBLIC__/js/Chart.js"></script>

<script type="text/javascript">
			
	//Date picker
	$('#start_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});
	$('#end_time').datepicker({
	  autoclose: true,
	  format: "yyyy-mm-dd",
	});


	$('.submit').click(function(){
		$(this).parents('form').attr('action', $(this).attr('action'));
		$(this).parents('form').submit();
	})


</script>